#room {

}

.user-block {
    height:140px;
    background: #7baadc;
    margin-bottom: 10px;
    padding:10px;
    border-radius: 6px;
}

.user-info {
    background: #dcd3bd;
    padding:10px;
    border-radius: 6px;
    height:80px;
}

.room-exit-btn {
    position:fixed;
    bottom:10px;
}