@import "../px2rem";

#log-list {
    top: px2rem(40 + 140 + 90);
    position:absolute;
    background: transparent;
    overflow:scroll;
    height: px2rem(80);
    color:#fefefe;
    > li {
        list-style: none;
        padding:px2rem(6) px2rem(20) 0;
        font-size:12px;
    }
}